body {
    background: url('../images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif
    color: #000;
}

h1, h2, h6, #question {
	font-weight: bold;
}

#timer {
	text-align: center;
}

#questionHolder {
	padding: 15px 15px;
}

#question, #messages {
	border-radius: 10px;
	background-color: grey;

	font-size: 18px;

	text-align: center;
	margin: 15px auto;
}

.button {
	visibility: hidden;
	width: 45%;
	margin: 5px auto;
}
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #b5651d;
  border-color: #b5651d; 
}

.resetGame {
	visibility: hidden;
}
