body {
    background: url('../images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif
    color: #000;
}

h1, h2, h6, #question {
	font-weight: bold;
}

#timer {
	text-align: center;
}

#questionHolder {
	padding: 15px 15px;
}

#question, #messages {
	border-radius: 10px;
	background-color: grey;
	font-size: 18px;
	text-align: center;
	margin: 15px auto;
}

.button {
	visibility: hidden;
	width: 45%;
	margin: 5px auto;
	transition: background 0.6s;
}

.startGame {
	transition: background 0.6s;
}

.resetGame {
	visibility: hidden;
	transition: background 0.6s;
}
